.about-main-container{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
}

#bio{
   padding: 2rem;
   font-size: 1.4rem;
}

#photo{
    padding: 2rem;
    border-radius: 100%;
}