.contacts-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #7be495;
    clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
    color: white

}

.contact-links-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:85vw ;
    font-size: 2rem;
}

.contact-links-container p{
    padding: 3rem;;
}

.links-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 60%;
   
}

.link{
    height: 7rem;
}

.greeting-container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height:25%;
    width: 85%;
    font-size: 1.5rem;
}

.greeting{
    height:3rem
}

.greeting-container p{
    color: white;
}