.contacts-main-container{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    width: 100%;
    background-color: #7be495;
    clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
}

.contacts-subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:85% ;
}

.contacts-subcontainer h3{
    color: white
}

.links-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 20%;
}

.links-container a{
    height:50%
}

.link{
    height: 100%;
}

.greeting-container{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    height:25%;
    width: 18%;
}

.greeting{
    height:20%
}

.greeting-container p{
    color: white;
}