.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    background-color: #329D9C;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
}

.home-container h1{
    margin: 2% 0 5% 12%;
    font-size: 5rem;
}