.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background-color:rgb(56, 173, 171);
    color:white;
}

.logo-container{
    display:flex;
    flex-grow: 1;
}

.logo-container h1{
    margin-left: 3.5rem;
}

.link-container{
    display:flex;
    justify-content: space-around;
    flex-grow: 1;
    font-size: 1.6rem;
}

