.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: #329D9C;
    color:white;
}

.logo-container{
    display:flex;
    flex-grow: 1;
}

.logo-container h1{
    margin-left: 10%;
}

.link-container{
    display:flex;
    justify-content: space-around;
    flex-grow: 1;
}

