.projects-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

.projects-subcontainer{
    display: flex;
    flex-direction: column;
    width: 85%;
}


