.skills-main-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
    background-color: #56C596;
    clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 90vh);

}

.skills-container{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 90vh;
}
.skills-subcontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    height: 15%;
    width: 95%;
}

#section-title{
    text-align: center;
}

.skill{
    height: 40%;
    margin: 0 2%;
}

