.skills-main-container{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #56C596;
}

.skills-container{
    display: flex;
    flex-direction: column;
    width: 85%;
}
.skills-subcontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    height: 20%;
    width: 95%;
}

#section-title{
    text-align: center;
}

.skill{
    height: 45%;
    margin: 0 2%;
}

